<%= yield %>

<div class="row">
	<div class="small-8 small-offset-2 columns">

		<h2 class="center"><%= @user.first_name %> <%= @user.second_name %></h2>
		<div class="small-5 columns">
			<br>
			<% if current_user.avatar.url.present? %>
			<%= image_tag(current_user.avatar.url) %>
			<% end %>
		</div>
		<div class="small-7 columns">
			<br>
			<table style="border: 2px solid white">
				<tr>
					<td style="width: 160px">Contact information</td>
					<td><hr></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td style="text-align: right"><%= @user.email %></td>
				</tr>
				<% if @user.phone_number? %>
				<tr>
					<td>Phone number:</td>
					<td style="text-align: right"><%= @user.phone_number %></td>
				</tr>
				<% end %>
				<% if @user.sex? || @user.birthday? || @user.country? || @user.city? %>
				<tr>
					<td>Personal data</td>
					<td><hr></td>
				</tr>
				<% end %>
				<% if @user.sex? %>
				<tr>
					<td>Sex:</td>
					<td style="text-align: right"><%= @user.sex %></td>
				</tr>
				<% end %>
				<% if @user.birthday? %>
				<tr>
					<td>Birthday:</td>
					<td style="text-align: right"><%= @user.birthday %></td>
				</tr>
				<% end %>
				<% if @user.country? %>
				<tr>
					<td>Country:</td>
					<td style="text-align: right"><%= @user.country %></td>
				</tr>
				<% end %>
				<% if @user.city? %>
				<tr>
					<td>City:</td>
					<td style="text-align: right"><%= @user.city %></td>
				</tr>
				<% end %>
			</table>
			<br>
		</div>
	</div>
</div>
<br>
<div class="center">
	<%= link_to 'Back', :back , class: "hollow button"%>
</div>