<div class="top-bar-right" style="padding-right: 20px">
  <ul class="menu">
    <% if user_signed_in? %>
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="nav-bar-1"><h6><%= link_to "Create event", new_meeting_path %></h6></li>
      <li class="nav-bar-1">
        <h6><a href="#">All events</a></h6>
        <ul class="menu vertical">
          <li class="nav-bar-2"><h6><%= link_to "Month calendar", all_meetings_path %></h6></li>
          <li class="nav-bar-3"><h6><%= link_to "Day calendar", day_calendar_all_meetings_path %></h6></li>
          <li class="nav-bar-3"><h6><%= link_to "List", list_all_meetings_path %></h6></li>
        </ul>
      </li>
      <li class="nav-bar-1">
        <h6><a href="#">My events</a></h6>
        <ul class="menu vertical">
          <li class="nav-bar-2"><h6><%= link_to "Month calendar", meetings_path %></h6></li>
          <li class="nav-bar-3"><h6><%= link_to "Day calendar", day_calendar_meetings_path %></h6></li>
          <li class="nav-bar-3"><h6><%= link_to "List", list_meetings_path %></h6></li>
        </ul>
      </li>
      <li class="nav-bar-1">
        <h6><%= link_to current_user.email, user_show_path(current_user.id) %></h6>
        <ul class="menu vertical">
          <li class="nav-bar-2"><h6><%= link_to "Edit profile", edit_user_registration_path %></h6></li>
          <li class="nav-bar-3"><h6><%= link_to "Sign out", destroy_user_session_path, method: :delete %></h6></li>
        </ul>
      </li>
    </ul>
    <% else %>
    <li class="nav-bar-1"><h6><%= link_to "Sign in", new_user_session_path %></h6></li>
    <li class="nav-bar-1"><h6><%= link_to "Sign up", new_user_registration_path %></h6></li>
    <% end %>
  </ul>
</div>