<div class="row">
  <div class="small-6 small-offset-3 columns">
    <%= form_for(@meeting) do |f| %>
      <% if @meeting.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@meeting.errors.count, "error") %> prohibited this meeting from being saved:</h2>
          <ul>
            <% @meeting.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <table style="border: 2px solid white">
        <div class="field">
          <tr>
            <td style="width: 80px"><p><%= f.label :name %></p></td>
            <td><%= f.text_field :name %></td>
          </tr>
        </div>
      
        <div class="field">
          <tr>
            <td style="width: 80px"><p><%= f.label :start_time %></p></td>
            <td><%= f.text_field :start_time %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td style="width: 80px"><p><%= f.label :end_time %></p></td>
            <td><%= f.text_field :end_time %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td style="width: 80px"><p><%= f.label :place %></p></td>
            <td><%= f.text_field :place %></td>
          </tr>
        </div>

        <div class="field">
          <tr>
            <td style="width: 80px"><p><%= f.label :description %></p></td>
            <td><%= f.text_area :description, size: "1x7" %></td>
          </tr>
        </div>
      </table>
      <div class="actions" style="text-align: center">
        <%= f.submit "Save event", class: "button" %>
        <%= link_to 'Back', :back, class: "hollow button" %>
    </div>
    <% end %>
  </div>
</div>