<%= yield %>
<div class="row medium-8 large-7 columns">
  <p id="notice"><%= notice %></p>

  <%= calendar number_of_days: 1, events: @meetings do |date, meetings| %>
    <%= date.strftime("%d") %>
      
    <ul style="color: black">
      <% meetings.each do |meeting| %>
        <li><%= link_to meeting.name, meeting_path(meeting) %></li>
      <% end %>
    </ul>
  <% end %>
</div>