<%= yield %>
<div class="row medium-8 large-7 columns">
  <p id="notice"><%= notice %></p>

  <%= month_calendar events: @meetings do |date, meetings| %>
    <%= date %>
      
    <ul>
      <% meetings.each do |meeting| %>
        <li><%= link_to meeting.name, meeting_path(meeting) %></li>
      <% end %>
    </ul>
  <% end %>
</div>