<p class="center" id="notice"><%= notice %></p>

<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h2 class="center"><%= @meeting.name %></h2>
    <br>
    <table style="border: 2px solid white">
      <tr>
        <td style="width: 100px">Start time:</td>
        <td><%= @meeting.start_time %></td>
      </tr>
      <% if @meeting.end_time != nil %>
      <tr>
        <td style="width: 100px">End time:</td>
        <td><%= @meeting.end_time %></td>
      </tr>
      <% end %>
      <% if @meeting.place != nil %>
      <tr>
        <td valign="top" style="width: 100px">Place:</td>
        <td><%= @meeting.place %></td>
      </tr>
      <% end %>
      <% if @meeting.description != '' %>
      <tr>
        <td valign="top" style="width: 100px">Description:</td>
        <td><%= @meeting.description %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <div class="center">
      <%= link_to 'Edit', edit_meeting_path(@meeting), class: "button" %>
      <%= link_to 'Back', meetings_path , class: "hollow button"%>
    </div>
    
  </div>
</div>