<div class="simple-calendar">
  <table style="border: 2px solid white">
    <tr>
      <td style="text-align: left; border-color: white"><h3><%= link_to "<", calendar.url_for_previous_view %></h3></td>
      <td style="text-align: center; border-color: white">
        <h3>

          <% date_range.each_slice(7) do |week| %>
            <% week.each do |day| %>
                <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                  <% capture_haml do %>
                    <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %>
                    <% block.call day, sorted_events.fetch(day, []) %>
                  <% end %>
                <% else %>
                  <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %>
                  <% block.call day, sorted_events.fetch(day, []) %>
                <% end %>
            <% end %>
          <% end %>
        <!-- <%= I18n.t("date.month_names")[start_date.month] %> <%= start_date.year %> -->
        </h3>
        <h4 class="font-weight-200"><% date_range.slice(0, 7).each do |day| %>
          <%= I18n.t("date.day_names")[day.wday] %>
        <% end %></h4>
      </td>
      <td style="text-align: right; border-color: white"><h3><%= link_to ">", calendar.url_for_next_view %></h3></td>
    </tr>
  </table>
</div>
