<%= yield %>
<div class="row medium-8 large-7 columns">
  <p id="notice"><%= notice %></p>

  <%= month_calendar events: @meetings do |date, meetings| %>
    <div style="text-align: right">
      <%= date.strftime("%d") %>
    </div>
      
    <ul style="color: black">
      <% meetings.each do |meeting| %>
        <% if meeting.user_id == current_user.id %>
          <li><%= link_to truncate(meeting.name, length: 9, :separator => ' '), {controller: "meetings", action: "show", id: meeting.id} %></li>
        <% else %>
          <li><%= link_to truncate(meeting.name, :length => 9, :separator => ' '), all_meeting_path(meeting) %></li>
        <% end %>
      <% end %>
    </ul>
  <% end %>
</div>