<%= yield %>
<div class="row">
  <div class="small-8 small-offset-2 columns">
    <% @meetings.each do |meeting| %>
    <% if meeting.user_id == current_user.id %>
    <h3 class="center"><%= link_to meeting.name, {controller: "meetings", action: "show", id: meeting.id} %></h3>
    <% else %>
    <h3 class="center"><%= link_to meeting.name, all_meeting_path(meeting) %></h3>
    <% end %>
    <table style="border: 2px solid white">
      <tr>
        <td style="width: 100px">Start time:</td>
        <td><%= meeting.start_time %></td>
      </tr>
      <% if meeting.end_time != nil %>
      <tr>
        <td style="width: 100px">End time:</td>
        <td><%= meeting.end_time %></td>
      </tr>
      <% end %>
      <% if meeting.place != nil %>
      <tr>
        <td valign="top" style="width: 100px">Place:</td>
        <td><%= truncate(meeting.place, :length => 100, :separator => ' ') %></td>
      </tr>
      <% end %>
      <% if meeting.description != '' %>
      <tr>
        <td valign="top" style="width: 100px">Description:</td>
        <td><%= truncate(meeting.description, :length => 100, :separator => ' ') %></td>
      </tr>
      <% end %>
      <tr>
        <td valign="top" style="width: 100px">Autor:</td>
        <td><%= meeting.user.email %></td>
      </tr>
    </table>
    <hr>
    <% end %>
  </div>
</div>