<p id="notice"><%= notice %></p>

<div class="row">
  <div class="small-6 small-offset-3 columns">
    <h2 class="center"><%= @meeting.name %></h2>
    <br>
    <table cellspacing="2" border="1" cellpadding="5" width="600">
      <tr>
        <td>Start time:</td>
        <td><%= @meeting.start_time %></td>
      </tr>
      <% if @meeting.end_time != nil %>
      <tr>
        <td>End time:</td>
        <td><%= @meeting.end_time %></td>
      </tr>
      <% end %>
      <% if @meeting.description != nil %>
      <tr>
        <td>Description:</td>
        <td><%= @meeting.description %></td>
      </tr>
      <% end %>
    </table>
    <br>
    <div class="center">
      <%= link_to 'Back', :back , class: "hollow button"%>
    </div>
  </div>
</div>